.callToActionCard{
    position: relative;
    z-index: 1;
    bottom: -125px;
    height: 180px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-lg) var(--spacing-xs) ;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--shadow-soft);
}
.descriprion{
    font-family: var(--heading-font);
    font-weight: var(--heading-font-size-regular);
    margin-bottom: var(--spacing-md);
    font-size: 18px;
}

@media only screen and (min-width: 1200px){
    .callToActionCard{
        width: 800px;
        height: 300px;
        bottom: -150px;
    }
    .descriprion{    
        font-size: 40px;
    }
}