.heroSection{
    min-height: 100vh;
    width: 100%;
    background-color: var(--very-pale-cyan);
    background-image: url("../../images/bg-hero-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding:140px 30px 55px 30px;

}
.title{
    font-family: var(--heading-font);
    font-weight: var(--heading-font-size-regular);
    margin-bottom: 32px;
}
.description{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
}
.cover{
    
    width: 100%;
    max-width: 310px;
    min-height: 265px;
    margin: 0 auto;
    background-image: url("../../images/illustration-mockups.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
