.footer {
    padding: 140px 20px 50px 20px;
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-flow: column;
    text-align: left;
    color: white;
}
.footer ul {
    list-style: none;
}
/* INFO */
.info{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.info .icon {
    position: absolute;
    left: 0;
    z-index: 1;
}
.info li{
    margin-bottom: 20px;
    padding-left: 50px;
} 
.logo{
    width: 165px;
    margin-bottom: 30px;
}

.icon{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
}
/* LINK */
.link {
    margin-bottom: 25px;
}
.link a{
    text-decoration: none;;
    color: white;
    transition: color 0.5s ease-out;
}
.link a:hover{
    color: var(--cta-color);
}

/* SOCIAL */
.social {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 20px 0;
}
.socialIcon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border: 1px solid white;
    border-radius: 20px;
    transition: background-color 0.5s ease-out;
    margin: 0 15px;
}
.socialIcon:hover{
    cursor:pointer;
    background-color: var(--cta-color);
}
.socialIcon img {
    height: 20px;
}
/* COPYRIGHT */
.copyright{
    text-align: center;
    font-size: 14px;
}

@media only screen and (min-width:1200px){
    .footer {
        position: relative;
        flex-flow: row;
        justify-content: center;
        padding: 180px 90px 125px 90px;

    }
    .logo{
        width: 250px;
    }
    .info{
        max-width: 500px;
        padding-right: 80px;
    }
    .links{
        margin-top: 70px;
        max-width: 500px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .link {
        width: 250px;
        height: 15px;
        margin-bottom: 10px;
    }
    .social{
        margin-top: 70px;
    }

    .copyright{
       position: absolute;
       right: var(--spacing-xxl);
       bottom: 65px
    }

}